.vscode
__pycache__
*.sock


/static/css/code_styles/

!/static/css/code_styles/darcula.css


/content/

!/content/license.html
!/content/settings.html
!/content/.about.html
!/content/articles/.about.html