* {
    border-color: inherit;
    --common-font: "Roboto", Helvetica, sans-serif;
}

html {
    /* fix for gradient background */
    min-height: 100%;
}

body {
    margin: 0 auto;
    max-width: var(--body-width);
    font-family: var(--common-font);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    padding: 0.2rem;
    margin: 0.5rem;
    border-width: 0.15rem;
    border-style: solid;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
}

article {
    margin: 0 1rem;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

article>p, article>pre {
    margin: 0.5rem 0;
}

footer {
    justify-content: space-between;
}

pre {
    padding: 0 1rem;
}

pre, code {
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.8rem;
}

code {
    font-size: 0.9rem;
}

a {
    color: var(--fg-hl);
}

hr {
    margin-inline: 0;
    align-self: stretch;
}

.use-theme, .use-theme.button {
    /* second selector for priority over .button */
    color: var(--fg);
    background: var(--bg);
    border-color: var(--border);
}


/* SCROOLBAR */

::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.4rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--fg);
}


/* ADDITIONAL BLOCK PROPERTIES */

.text-block, .button {
    display: block;
    margin: 0.2rem;
    text-align: center;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.centered {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
}

.breadcrumbs {
    flex-grow: 1;
    overflow-x: auto;
    white-space: nowrap;
}

.theme-panel {
    display: flex;
    align-self: stretch;
    justify-content: space-around;
}

.icon {
    font-family: 'Material Icons';
    font-size: 1.5rem;

    display: inline-block;
    user-select: none;
    text-transform: none;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.line-block {
    display: flex;
    align-items: center;
}

.file-list {
    align-self: center;
    min-width: 25%;
}

#invert-theme-button::before {
    font-family: 'Material Icons'var(--common-font);
    content: "Aa";
}


/* BUTTTON CSS */

.button {
    color: inherit;
    background: inherit;
    padding: 0.2rem;
    border-radius: 0.5rem;
    border-width: 0.15rem;
    border-style: solid;
    font-size: 1em;

    cursor: pointer;
    user-select: none;
}


.switch {
    margin: 0.2rem;
    border-radius: 0.3rem;
    font-size: 1.25rem;
    display: inline-block;
}

.switch input {
    display: none;
}


.slider {
    background: var(--inactive);
    display: flex;
    padding: 0;
    width: 2em;
}

.slider:after {
    content: "";
    height: 1em;
    width: 1em;
    border-radius: 0.3rem;
    background: var(--slider);
    position: relative;
    left: 0em;
}


input:checked+.slider {
    background: var(--active);
}

input:checked+.slider:after {
    left: 1em;
}

.frame {
    border-width: 0.15rem;
    border-style: solid;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin: 0.2rem;
}


/* RANGE CSS */

.range-block {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin: 0.4rem;
}

#body-width-range {
    font-size: 1.25rem;
    flex-grow: 1;
    padding: 0;

    -webkit-appearance: none;
    height: max-content;
    border-radius: 0.5rem;
    background: var(--inactive);
}

#body-width-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 0.3rem;
    background: var(--slider);
    cursor: pointer;
}

#body-width-range::-webkit-slider-thumb:hover {
    background: var(--slider-hover);
}

#body-width-range::-moz-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 0.3rem;
    background: var(--slider);
    cursor: pointer;
}

#body-width-range::-moz-slider-thumb:hover {
    background: var(--slider-hover);
}


/* HIGHLIGHT CSS */

.highlight-block {
    border-radius: 0.4rem;
    padding: 0.2rem;
    margin: 0 1rem;

    display: flex;
    max-width: fit-content;
    align-self: stretch;
    position: relative;
}

.highlight-block * {
    color: inherit;
    border-radius: inherit;
    background-color: inherit;
}

.highlight-block pre {
    margin: 0;
    padding: 0.5rem 0.15rem 0.5rem 0;
}

.highlight-block>pre {
    cursor: default;
    user-select: none;
}

.highlight {
    padding: 0 0.5rem;
    overflow-x: auto;
    scrollbar-width: thin;
}

.highlight pre {
    border-radius: 0;
    border-left-width: 0.1rem;
    border-left-style: solid;

    padding: 0.5rem 0.3rem;
}

.copy-button {
    font-family: 'Material Icons', monospace;
    font-size: 0.75rem;
    user-select: none;
    cursor: pointer;

    margin: 0.3rem;
    padding: 0.1rem;
    position: absolute;
    top: 0;
    right: 0;
}

.copy-tooltip {
    font-family: var(--common-font);
    font-size: 0.8rem;

    width: max-content;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);

    padding: 0.2rem;
    border: 0.1rem;
    border-style: solid;
    cursor: default;
    opacity: 0;
}

.copy-tooltip::before {
    content: "Copy";
}

.copy-button:hover>.copy-tooltip {
    opacity: 1;
}

.copy-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.3rem;

    border-width: 0.3rem;
    border-style: solid;
    border-color: transparent;
}


.highlight::-webkit-scrollbar {
    height: 0.4rem;
}

.highlight::-webkit-scrollbar-track {
    margin-inline: 0.4rem;
}

.highlight::-webkit-scrollbar-thumb {
    border-radius: 1rem;
}