{%- import 'macros.html' as m -%}

{%- macro o(option) -%}
    id="{{ option + "-related" }}"{{ "" if g[option] else " disabled" }}
{%- endmacro -%}

<!DOCTYPE html>
<html class="{{ g.theme }}">

<head>
    <title> sliva0.tk - {% block title -%}{%- endblock -%} </title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.3, minimum-scale=0.7 user-scalable=yes">

    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/themes.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/static/media/favicon.ico" />

    <link {{ o('fonts') }} rel="stylesheet" type="text/css" href="/static/css/fonts.css">
    <link {{ o('use_hl') }} rel="stylesheet" type="text/css" href="/static/css/highlight.css">
    <link {{ o('extra_css') }} rel="stylesheet" type="text/css" href="/static/css/extra.css">

    {%- if g.use_js -%} 
        <script src="/static/js/script.js"></script>
    {%- endif -%}

    {%- block head -%} {%- endblock -%}
</head>

<body class="use-theme {{ get_theme_type() }}">
    <header>
        {{ m.link_button("Home", "/") }}
        {{ m.breadcrumbs() }}
        <div class="push-right"></div>
        {{ m.link_button("Settings", "/settings") }}
        {{ m.invert_theme_button() }}
    </header>
    <article>
        {%- block content -%}
        {%- endblock -%}
    </article>
    <footer>
        <div class="text-block">Powered by Flask</div>
        {{ m.link_button('sliva0', '/about') }}
    </footer>
</body>

</html>