{% extends "base.html" %}
{% block title %} Index {% endblock %}


{% block content %}
{% filter markdown %}

*text before code*

`monospace text`

{% call m.highlight("python") %}
@app.route('/')
def index():
    return render_template("index.html")
{% endcall %}

test

1. list
2. slist
    * a
    * b
3. sd
- у
- у

Гала́ктика Андроме́ды (Тума́нность Андроме́ды, M 31, NGC 224, PGC 2557) — спиральная галактика, наблюдаемая в созвездии Андромеды. Её радиус составляет около 31 килопарсека, что вдвое больше, чем у нашей Галактики, и она содержит в несколько раз больше звёзд, чем Млечный Путь. Расстояние от нашей Галактики до неё составляет около 800 килопарсек, что делает её ближайшей из крупных галактик, а также крупнейшей галактикой Местной группы. Её масса приблизительно равна массе Млечного Пути или даже меньше.

Галактика Андромеды имеет как выраженную сферическую подсистему, так и диск с заметными спиральными рукавами, поэтому по классификации Хаббла её относят к типу Sb. Диск содержит более половины звёздной массы галактики, имеет искривлённую форму, в нём наблюдается кольцо радиусом 10 килопарсек с повышенным содержанием областей H II и OB-ассоциаций. Балдж и гало сплюснуты, бар в галактике напрямую не наблюдается, но некоторые признаки указывают на его наличие. В центре галактики имеется двойное ядро, а на периферии наблюдаются различные структуры, образованные приливными взаимодействиями. Звёздное население этой галактики в среднем более старое, чем в нашей галактике, а темп звездообразования более низкий и составляет лишь 20—30 % такового в Млечном Пути.

В галактике Андромеды известно около 400 шаровых звёздных скоплений, что в 2—3 раза больше, чем в Млечном Пути. Система шаровых скоплений и сами эти объекты в некоторых отношениях отличаются от таковых в нашей Галактике: массивные, но довольно молодые скопления в M 31 не имеют аналогов в Млечном Пути. Молодые скопления небольшой массы, похожие на рассеянные скопления Млечного Пути, и OB-ассоциации в галактике Андромеды также присутствуют.

В галактике известно как минимум 35 тысяч переменных звёзд различных типов: в основном это цефеиды, яркие голубые переменные, переменные типа RR Лиры, долгопериодические переменные, а также переменные типа R Северной Короны. За всю историю наблюдений в галактике вспыхнула одна сверхновая — S Андромеды, а новых звёзд регистрируется в среднем пятьдесят в год. Также в галактике есть один кандидат в экзопланеты — PA-99-N2b.

Галактика Андромеды и Млечный Путь сближаются, и через 4 миллиарда лет произойдёт их слияние. Галактика имеет более 20 спутников, многие из которых — карликовые сфероидальные галактики. Наиболее яркие из них — M 32 и M 110, и, возможно, к её спутникам также относится галактика Треугольника.

Самое раннее сохранившееся упоминание галактики относится к 964 году нашей эры. До 1920-х годов данных о расстоянии до галактики практически не было, но в 1923 году Эдвин Хаббл показал, что M 31 находится вне нашей Галактики и по некоторым параметрам сравнима с ней. На сегодняшний день это одна из самых изученных галактик.

Галактика Андромеды имеет видимую звёздную величину +3,44m и угловой диаметр в 6 раз больше углового диаметра Луны, благодаря чему она видима невооружённым глазом и популярна как объект для наблюдения среди астрономов-любителей. Галактика является распространённой локацией в научной фантастике.

{% endfilter %}
{% endblock %}