<!-- BUTTONS -->


{%- macro link_button(text, link) -%}
<a class="button" href="{{ link }}">{{ text }}</a>
{%- endmacro -%}



{%- macro icon_link_button(icon, fb_text, link) -%}
<a class="icon button" href="{{ link }}" data-icon="{{ icon }}" data-fb="{{ fb_text }}"></a>
{%- endmacro -%}



<!-- 
    Second span in copy-tooltip is fix for firefox animation font bug
    https://bugzilla.mozilla.org/show_bug.cgi?id=1757017
-->
{%- macro copy_button(name, link) -%}

{%- if g.use_js -%}
<div class="copy-button icon" onclick="CopyCode(event)" data-icon="content_copy" data-fb="Copy">
    <span class="copy-tooltip"><span></span></span>
</div>
{%- endif -%}

{%- endmacro -%}



{%- macro settings_option(option_name) -%}
<hr><span class="line-block">{{ switch(option_name) }}{{ caller() }}</span>
{%- endmacro -%}



{%- macro icon(name, fallback="+") -%}
<span class="icon" data-icon="{{ name }}" data-fb="{{ fallback }}"></span>
{%- endmacro -%}



{%- macro invert_theme_button(name, link) -%}
{%- set theme_type = get_theme_type(inverted=True) -%}
{%- set class = "button use-theme icon " + get_theme_type(inverted=True) -%}

{%- if g.use_js -%}
<div id="invert-theme-button" class="{{ class }}" onclick="invertTheme(event)"></div>
{%- else -%}
<a 
    id="invert-theme-button"
    class="{{ class }}"
    href="{{ g.rpath.path }}?type_light={{ invert_bool(g.type_light) }}"
></a>
{%- endif -%}

{%- endmacro -%}



{%- macro set_theme_button(theme, type) -%}
{%- set class = " ".join(("button", "use-theme", theme, type)) -%}
{%- set type_light = invert_bool(type != "type-light") -%}

{%- if g.use_js -%}
<div class="{{ class }}" onclick="setTheme('{{ theme }}', '{{ type }}')">Aa</div>
{%- else -%}
<a
    class="{{ class }}"
    href="{{ g.rpath.path }}?theme={{ theme }}&type_light={{ type_light }}"
>Aa</a>
{%- endif -%}

{%- endmacro -%}



<!-- SWITCHES AND SLIDERS -->


{%- macro switch(option) -%}
{%- set checked = "checked" if g[option] else "" -%}

<label class="switch">
{%- if g.use_js -%}
    <input type="checkbox" {{ checked }}
        onchange="switchOption(event, '{{ option }}')"
    >
    <div class="button slider"></div>

{%- else -%}
    <input type="checkbox" {{ checked }}>
    <a
        class="button slider"
        href="{{ g.rpath.path }}?{{ option }}={{ invert_bool(g[option]) }}"
    ></a>

{%- endif -%}
</label>

{%- endmacro -%}



{%- macro body_width_setting() -%}

<hr>
<div class="range-block">
    <form action="" method="get" class="line-block">
        {%- if g.use_js -%}
            <label for="body-width-range" class="frame">{{ g.body_width }}</label>
        {%- else -%}
            <input type="submit" value="Apply" class="button">
        {%- endif -%}

        <input
            id="body-width-range" class="button" type="range" name="body_width"
            min="20" max="100" step="5" value="{{ g.body_width }}"
        >
    </form>
    Max site body width <br>
    (Determines the maximum width of the space occupied by the site on the screen)
</div>

{%- endmacro -%}




<!-- COMPLEX PAGE ELEMENTS -->


{%- macro highlight(language=None, filename=None) -%}
{%- set content = caller() -%}

{%- if g.use_hl -%}
<div class="highlight-block">
    <pre>{{ get_linenos(content) }}</pre>
    {{- copy_button() -}}
    <div class="highlight">
        <pre>{{ highlight_code(content, language, filename) }}</pre>
    </div>
</div>

{%- else -%}
<pre>{{ content }}</pre>
{%- endif -%}

{%- endmacro -%}



{%- macro breadcrumbs() -%}

<div class="breadcrumbs">
    {%- for name, link in g.rpath.breadcrumbs_links -%}
        {{- " / " -}}
        {%- if not loop.last -%}
            <a href="{{ link }}">{{ name }}</a>
        {%- elif g.rpath.is_not_found -%}
            <s>{{ name }}</s>
        {%- else -%}
            {{ name }}
        {%- endif -%}
    {%- endfor -%}
</div>

{%- endmacro -%}



{%- macro theme_panel() -%}

<div class="theme-panel">
    {%- for theme in THEME_NAMES -%}
    <div class="{{ theme }}">
        {%- for type in THEME_TYPES[::-1] -%}
            {{ set_theme_button(theme, type) }}
        {%- endfor -%}
    </div>
    {%- endfor -%}
</div>

{%- endmacro -%}



{%- macro folder_file_list(source_mode=False) -%}

<div class="file-list">
    {%- if source_mode -%}
        <a class="button" href="{{ g.rpath.parent or '/' }}">
            {{- icon("drive_file_move_rtl", FOLDER_EMOJI) -}} ..
        </a>
    {%- endif -%}

    {%- for file in g.files -%}
        {%- set name = file.name if source_mode else file.stem -%}

        <a class="button" href="{{ g.rpath.path }}/{{ name }}">
            {%- if file.is_dir() -%}
                {{ icon("folder", FOLDER_EMOJI) }}
            {%- else -%}
                {{ icon("description", FILE_EMOJI) }}
            {%- endif -%}

            {{- name -}}
        </a>
    {%- endfor -%}
</div>

{%- endmacro -%}