{%- macro link_button(name, link) -%}
<a class="button" href="{{ link }}">{{ name }}</a>
{%- endmacro -%}



{%- macro highlight(language=None, filename=None) -%}
{%- set content = caller() -%}

{%- if g.use_hl -%}
<div class="highlight-block">
    <pre>{{ get_linenos(content) }}</pre>
    <div class="highlight">
        <pre>{{ highlight_code(content, language, filename) }}</pre>
    </div>
</div>

{%- else -%}
<pre>{{ content }}</pre>
{%- endif -%}

{%- endmacro -%}



{%- macro invert_theme_button(name, link) -%}
{%- set theme_type = get_theme_type(inverted=True) -%}
{%- set class = "button use-theme " + get_theme_type(inverted=True) -%}

{%- if g.use_js -%}
<div id="invert-theme-button" class="{{ class }}" onclick="invertTheme(event)">Aa</div>
{%- else -%}
<a 
    class="{{ class }}"
    href="{{ g.rpath.path }}?type_light={{ invert_bool(g.type_light) }}"
>Aa</a>
{%- endif -%}

{%- endmacro -%}



{%- macro set_theme_button(theme, type) -%}
{%- set class = " ".join(("button", "use-theme", theme, type)) -%}
{%- set type_light = invert_bool(type != "type-light") -%}

{%- if g.use_js -%}
<div class="{{ class }}" onclick="setTheme('{{ theme }}', '{{ type }}')">Aa</div>
{%- else -%}
<a
    class="{{ class }}"
    href="{{ g.rpath.path }}?theme={{ theme }}&type_light={{ type_light }}"
>Aa</a>
{%- endif -%}

{%- endmacro -%}



{%- macro switch(option) -%}
{%- set checked = "checked" if g[option] else "" -%}

<label class="switch">
{%- if g.use_js -%}
    <input type="checkbox" {{ checked }}
        onchange="switchOption(event, '{{ option }}')"
    >
    <div class="button slider"></div>

{%- else -%}
    <input type="checkbox" {{ checked }}>
    <a
        class="button slider"
        href="{{ g.rpath.path }}?{{ option }}={{ invert_bool(g[option]) }}"
    ></a>

{%- endif -%}
</label>

{%- endmacro -%}



{%- macro breadcrumbs() -%}

<div class="breadcrumbs">
    {%- for name, link in g.rpath.breadcrumbs_links -%}
        {{- " / " -}}
        {%- if not loop.last -%}
            <a href="{{ link }}">{{ name }}</a>
        {%- elif g.rpath.is_not_found -%}
            <s>{{ name }}</s>
        {%- else -%}
            {{ name }}
        {%- endif -%}
    {%- endfor -%}
</div>

{%- endmacro -%}



{%- macro theme_panel() -%}

<div class="theme-panel">
    {%- for theme in THEME_NAMES -%}
    <div class="{{ theme }}">
        {%- for type in THEME_TYPES[::-1] -%}
            {{ set_theme_button(theme, type) }}
        {%- endfor -%}
    </div>
    {%- endfor -%}
</div>

{%- endmacro -%}



{%- macro settings_option(option_name) -%}
<span class="line-block"> {{ switch(option_name) }} {{ caller() }} </span>
{%- endmacro -%}



{%- macro icon(name, replacer=">") -%}
<span class="icon"> {{ name if g.fonts else replacer }} </span>
{%- endmacro -%}



{%- macro folder_file_list(source_mode=False) -%}

<div class="centered">
    <div>
    {%- if source_mode -%}
        <div class="line-block">
            {{- icon("drive_file_move_rtl", FOLDER_EMOJI) -}}
            <a href="{{ g.rpath.parent }}"> .. </a>
        </div>
    {%- endif -%}

    {%- for file in g.files -%}
        {%- set name = file.name if source_mode else file.stem -%}

        <div class="line-block">
            {%- if file.is_dir() -%}
                {{ icon("folder", FOLDER_EMOJI) }}
            {%- else -%}
                {{ icon("description", FILE_EMOJI) }}
            {%- endif -%}

            <a href="{{ g.rpath.path }}/{{ name }}">{{ name }}</a>
        </div>
    {%- endfor -%}
    </div>
</div>

{%- endmacro -%}